.classpath
.project
code/command/.settings/*
bin/*
*.7z
*/.idea/*
code/command/target/**
*.iml
.metadata/*

workspace/*

Source Phile*
pf-cda*

#glob doesn't work??
**/.settings/**
**/.settings/**
**/target/**
**/.settings

code/potatoes-jpa-app/potatoes-jpa-app/.settings/*
code/potatoes-jpa-app/potatoes-jpa-app/target/*
articles/*